{% extends "modales/formmodal.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block modalTitulo %}
    <span class="text-black-50">Emitiendo Expediente</span>
    <span class="font-weight-bolder">
        {{ object.expedientenro }}
    </span>
{% endblock modalTitulo %}
{% block modalAction %}{% url 'apptra:mesapartes_registrar_emitir' object.pk %}{% endblock modalAction %}
{% block modalBody %}
    <div class="col-12 text-center">
        ¿Desea emitir el expediente del Documento: <br><strong>{{ object.documentonrosiglas }}</strong>?
    </div>
{% endblock modalBody %}
{% block modalPost %}refrescar_tablaMesaPartesRegistrados{% endblock %}