{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% load utiles static %}
<table id="dt_{{ id }}" class="table table-bordered table-hover table-checkable w-100 bg-white tabla-json">
    <thead class="bg-light">
    <tr>
        {% for columna in columnas|separar:"|" %}
            {% if forloop.last and object.ultimoestado.estado|default:"PY" != "PY" %}
            {% else %}
                <th>{{ columna }}</th>
            {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <tr v-for="(registro, i) in datos">
        {% for campo in campos|separar:"|" %}
            {% if forloop.last and object.ultimoestado.estado|default:"PY" != "PY" %}
            {% else %}
                {% if not forloop.last %}
                    <td v-html="registro.{{ campo }}"></td>
                {% else %}
                    <td>
                        <div v-show="registro.editar" class="table-actions">
                            <a v-bind:href="btnEdit(registro.codigo)" rel="tooltip"
                               class="btn btn-xs btn-clean btn-hover-primary btn-icon p-1" title="Editar">
                                <i class="fas fa-pen"></i>
                            </a>
                            <a v-bind:href="btnDelete(registro.codigo)" rel="tooltip"
                               class="btn btn-xs btn-clean btn-hover-danger btn-icon p-1" title="Quitar">
                                <i class="fas fa-minus-circle"></i>
                            </a>
                        </div>
                    </td>
                {% endif %}
            {% endif %}
        {% endfor %}
    </tr>
    </tbody>
</table>
<script type="text/javascript">
    var dt_{{ id }}_data = {
        datos: []
    };
    var dt_{{ id }}_tabla = new Vue({
        el: '#dt_{{ id }}',
        delimiters: ['{$', '$}'],
        data: dt_{{ id }}_data,
        methods: {
            btnEdit: function (codigo) {
                return "javascript:editarDetalle('{{ id }}', " + codigo + ");";
            },
            btnDelete: function (codigo) {
                return "javascript:quitarDetalle('{{ id }}', " + codigo + ");";
            },
        },
        updated: function () {
            $('#dt_{{ id }} [rel="tooltip"]').tooltip('dispose').tooltip({
                trigger: "hover"
            });
        },
        watch: {
            "datos": {
                handler(valnew, valold) {
                    if (valnew.length === 0) {
                        $("#dt_{{ id }} .dataTables_empty").parent().show();
                    } else {
                        $("#dt_{{ id }} .dataTables_empty").parent().hide();
                    }
                    $("#id_{{ id }}").val(JSON.stringify(valnew));
                    kt_tabs_data.{{ id }} = valnew.length;
                    return valnew;
                },
                deep: true
            },
        },
        mounted: function () {
            $("#dt_{{ id }}").DataTable({
                responsive: true,
                searching: false,
                ordering: false,
                select: 'single',
                dom: 't',
                deferRender: true,
                scrollY: '200px',
                autoWidth: true,
                pageLength: 500,
                columns: [
                    {% for ancho in anchos|separar:"|" %}
                        {% if forloop.last and object.ultimoestado.estado|default:"PY" != "PY" %}
                        {% else %}
                            {
                                "data": "{{ campos|separar:"|"|elemento:forloop.counter0 }}",
                                "width": "{{ ancho }}",
                                "targets": {{ forloop.counter }},
                                {% if forloop.last %}
                                    "responsivePriority": -1
                                {% endif %}
                            },
                        {% endif %}
                    {% endfor %}
                ],
                language: {
                    "zeroRecords": "Ningún dato disponible en esta tabla",
                }
            });
        },
    });
    {#var tabla_{{ id }} = $("#{{ id }}").DataTable({#}
    {#    data: {{ id }}_data,#}
    {#    responsive: true,#}
    {#    searching: false,#}
    {#    ordering: false,#}
    {#    select: 'single',#}
    {#    dom: 't',#}
    {#    deferRender: true,#}
    {#    scrollY: '200px',#}
    {#    autoWidth: true,#}
    {#    searchDelay: 300,#}
    {#    pageLength: 500,#}
    {#    columns: [#}
    {#        {% for ancho in anchos|separar:"|" %}#}
    {#            {% if forloop.last and object.ultimoestado.estado|default:"PY" != "PY" %}#}
    {#            {% else %}#}
    {#                {#}
    {#                    "data": "{{ campos|separar:"|"|elemento:forloop.counter0 }}",#}
    {#                    "width": "{{ ancho }}",#}
    {#                    "targets": {{ forloop.counter }},#}
    {#                    {% if forloop.last %}#}
    {#                        "responsivePriority": -1#}
    {#                    {% endif %}#}
    {#                },#}
    {#            {% endif %}#}
    {#        {% endfor %}#}
    {#    ],#}
    {#    language: {#}
    {#        url: '{% static 'plugins/custom/datatables/spanish.json' %}'#}
    {#    },#}
    {#    drawCallback: function (settings) {#}
    {#        $('#{{ id }} [data-toggle="popover"]').popover({#}
    {#            container: $("#modal-principal .modal-content"),#}
    {#            trigger: "hover"#}
    {#        });#}
    {#    }#}
    {# });#}
</script>