{% extends "error/base.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block errorTitulo %}
    Petición Errónea
{% endblock errorTitulo %}
{% block errorNumero %}400{% endblock errorNumero %}
{% block errorTitular %}
    Petición Errónea
{% endblock errorTitular %}
{% block errorDescripcion %}
    El servidor no pudo entender la solicitud enviada.
{% endblock errorDescripcion %}