{% extends "error/base.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block errorTitulo %}
    Error de Prohibición
{% endblock errorTitulo %}
{% block errorNumero %}403{% endblock errorNumero %}
{% block errorTitular %}
    Error de Prohibición
{% endblock errorTitular %}
{% block errorDescripcion %}
    No tiene permiso para acceder a este servidor.
{% endblock errorDescripcion %}