{% extends "error/base.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block errorTitulo %}
    Página no encontrada
{% endblock errorTitulo %}
{% block errorNumero %}404{% endblock errorNumero %}
{% block errorTitular %}
    Página Web no Encontrada
{% endblock errorTitular %}
{% block errorDescripcion %}
    Al parecer la url que estás buscando no existe.
{% endblock errorDescripcion %}