{% extends "error/base.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block errorTitulo %}
    Error Interno del Servidor
{% endblock errorTitulo %}
{% block errorNumero %}500{% endblock errorNumero %}
{% block errorTitular %}
    Error Interno del Servidor
{% endblock errorTitular %}
{% block errorDescripcion %}
    Por favor intente nuevamente en un momento.
{% endblock errorDescripcion %}