{% extends "tramite/base.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% load i18n table_tags %}
{% block TramiteContenido %}
    <div class="row">
        <div class="col-12">
            <div class="card card-custom">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 card-body p-4">
                            {% render_table tablaAdmPersona %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock TramiteContenido %}