{% extends "modales/formmodal.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block modalTitulo %}
    Firma
{% endblock modalTitulo %}
{% block modalBodyTotal %}
    <form id="{{ form.id }}" autocomplete="off">
        <div class="modal-body text-sm">
            <div class="container p-0">
                <div class="row">
                    {{ form.codigo }}
                    {% include "campos/campoform.html" with campo=form.area %}
                    {% include "campos/campoform.html" with campo=form.empleado %}
                    {% include "campos/campoform.html" with campo=form.modofirma %}
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Cancelar
            </button>
            <button type="submit" class="btn btn-primary">
                Agregar
            </button>
        </div>
    </form>
{% endblock modalBodyTotal %}
{% block modalScriptPost %}
    <script type="text/javascript">
        {% if form.area %}
            $("#{{ form.area.auto_id }}").on("change", function () {
                $(this).nextAll("label").remove();
                $("#{{ form.empleado.auto_id }}").trigger("select2:selectfirst");
            });
        {% endif %}
        $("#{{ form.area.auto_id }}, #{{ form.empleado.auto_id }}").on("change", function () {
            $(this).nextAll("label").remove();
        });
        $("#{{ form.id }} input[name={{ form.modofirma.name }}]").on("change", function () {
            $(this).parents(".radio-inline").nextAll("label").remove();
        });
        $("#{{ form.id }}").on("submit", function (e) {
            e.preventDefault();
            let me = $(this);
            let jqform = document.getElementById("{{ form.id }}");
            if (jqform.checkValidity()) {
                let lista = me.serializeObject();
                if (parseInt(lista["codigo"]) < 0) {
                    lista["editar"] = true;
                    lista["eliminar"] = true;
                }
                lista["areanombre"] = $("#{{ form.area.auto_id }}").select2("data")[0].text;
                lista["empleadonombre"] = $("#{{ form.empleado.auto_id }}").select2("data")[0].text;
                lista["modonombre"] = $("#{{ form.id }} input[name={{ form.modofirma.name }}]:checked").data("text");
                lista["estadonombre"] = "";
                guardarDetalle("firmas", lista);
            } else {
                appMensaje("Alerta", "info", "Complete los campos", "info", "bg-info text-white");
            }
            return false;
        });
    </script>
{% endblock modalScriptPost %}