{% extends "modales/formmodal.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block modalTitulo %}
    {% if not object.persona.usuario %}
        Asignar
    {% else %}
        Reestablecer
    {% endif %}
    Contraseña : <span class="text-primary">{{ object.persona.apellidocompleto }}</span>
{% endblock modalTitulo %}
{% block modalAction %}
    {% url 'apporg:trabajador_password' object.pk %}
{% endblock modalAction %}
{% block modalBody %}
    <div class="col-12">
        <div class="alert alert-custom alert-light-primary" role="alert">
            <div class="alert-icon">
                <i class="flaticon-warning"></i>
            </div>
            <div class="alert-text">
                {% if not object.persona.usuario %}
                    Se le asignará su DNI (<strong>{{ object.persona.numero }}</strong>) como contraseña por
                    defecto.
                {% else %}
                    Se le reestablecerá la contraseña  utilizando su DNI (<strong>{{ object.persona.numero }}</strong>) para ello.
                {% endif %}
            </div>
        </div>
    </div>
    {% include "campos/errorform.html" %}
{% endblock modalBody %}
{% block modalPost %}refrescar_tablaPeriodoTrabajo{% endblock modalPost %}