{% extends "modales/formmodal.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block modalTitulo %}
    Emisión Masiva
{% endblock modalTitulo %}
{% block modalAction %}{% url 'apptra:personal_bandeja_despacho_emisionmasiva' %}{% endblock %}
{% block modalBody %}
    {% if emisionok %}
        <script type="text/javascript">
            appMensaje(
                "Ok", "", "La emisión se efectuó correctamente", "info", "bg-info text-white", "bottom", "left"
            );
            $("#modal-principal-centro").modal("hide");
            refrescar_tabladbDespachoP();
        </script>
    {% else %}
        {% if erroremision %}
            <script type="application/javascript">
                appAlert("warning", "Atención!!", "{{ erroremision }}");
            </script>
        {% endif %}
        <input type="hidden" id="em-documentos" name="documentos" value="{{ ids }}">
        <div id="fm-info" class="col-12">
            <div class="mb-2">Se procederá a emitir la siguiente lista de documentos :</div>
            {% for documento in documentos %}
                <div class="d-flex align-items-center flex-grow-1 border rounded px-3 py-2 mb-1
                        {% if not documento.PorEmitir %}
                            {% if documento.ultimoestado.estado in "OF" %}
                                bg-light-danger
                            {% else %}
                                bg-light-warning
                            {% endif %}
                        {% endif %}">
                    <div class="d-flex flex-wrap justify-content-between w-100">
                        <div class="d-flex flex-column" style="width: 85%;">
                            <div class="text-dark-75">
                                {{ documento.obtenerNumeroSiglas }}
                                {% if documento.expediente %}
                                    <span class="ml-2 small font-weight-bolder badge badge-light badge-primary">
                                        EXP {{ documento.expedientenro }}
                                    </span>
                                {% endif %}
                            </div>
                            <p class="text-dark-50 mb-0 font-size-sm">
                                {{ documento.asuntocorto }}
                            </p>
                        </div>
                        <div class="small text-center" style="width: 15%;">
                            <div>
                                {{ documento.ultimoestado.creado|date:"d/m/Y h:i a" }}
                            </div>
                            <div>
                                {% if documento.PorEmitir %}
                                    {% if documento.AnexosNoFirmados > 0 %}
                                        <i class="fas fa-exclamation-triangle fa-2x text-warning"
                                           rel="tooltip"
                                           title="Este documento tiene anexos sin firmar, por lo tanto no puede ser emitido">
                                        </i>
                                    {% else %}
                                        <i class="fas fa-check-circle fa-2x text-success"></i>
                                    {% endif %}
                                {% else %}
                                    {% if documento.ultimoestado.estado in "OF" %}
                                        <i class="fas fa-times-circle fa-2x text-danger" rel="tooltip"
                                           data-html="true"
                                           title="Este documento está en estado {{ documento.estadoFirmas }}">
                                        </i>
                                    {% else %}
                                        <i class="fas fa-times-circle fa-2x text-warning" rel="tooltip"
                                           data-html="true"
                                           title="Este documento está en estado {{ documento.estadoFirmas }}">
                                        </i>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
{% block modalScriptPost %}
    <script type="text/javascript">
        $("#fm-info [rel='tooltip']").tooltip({
            trigger: 'hover',
        });
    </script>
{% endblock modalScriptPost %}