{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% if codigo %}
    {% load static %}
    <script type="text/javascript">
        let capaCarga{{ codigo }} = document.createElement("iframe");
        capaCarga{{ codigo }}.id = "capaCarga{{ codigo }}";
        capaCarga{{ codigo }}.style.height = "0%";
        capaCarga{{ codigo }}.style.width = "0%";
        capaCarga{{ codigo }}.style.border = "none";
        capaCarga{{ codigo }}.style.display = "none";
        capaCarga{{ codigo }}.src = "{{ urldown }}";
        modalWaitMeOpera(
            "Firma", "{% static 'images/icono_firmagrc.png' %}", "{{ forma }}"
        );

        function fnSocketDocFirOk(data) {
            $("#capaCarga{{ codigo }}").remove();
            fnSocketDocFirOk = fnSocketDocFirError = undefined;
            $("#modal-principal-centro").modal("hide");
            refrescar_tabladbDespachoP();
            modalWaitMeOpera(
                "Firma",
                "{% static 'images/icono_check.png' %}",
                data.mensaje,
                3000
            );
        }

        function fnSocketDocFirError(data) {
            $("#capaCarga{{ codigo }}").remove();
            fnSocketDocFirOk = fnSocketDocFirError = undefined;
            modalWaitMeOpera(
                "Documento",
                "{% static 'images/icono_error.png' %}",
                "<div>" + data.mensaje + "</div>" +
                "<button type='button' class='btn btn-outline-primary mt-2 py-1' data-dismiss='modal'>Cerrar</button>"
            );
        }

        document.getElementById("modal-principal-centro").appendChild(capaCarga{{ codigo }});
    </script>
{% elif error %}
    <script type="application/javascript">
        appAlert("warning", "Error", "{{ error }}");
    </script>
{% endif %}