{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{
    "success": {{ success|lower }},
    "message": "{{ message|default_if_none:'' }}",
    "percodigo": {{ per.pk|default:0 }},
    "perubigeo": {{ per.ubigeo_id|default:0 }},
    "perdireccion": "{{ per.direccion|default:'' }}",
    "perreferencia": "{{ per.referencia|default:'' }}",
    "percorreo": "{{ per.correo|default:'' }}"
}