{% extends "modales/formmodal.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block modalTitulo %}
    Eliminando Area
{% endblock modalTitulo %}
{% block modalAction %}
    {% url 'apporg:area_eliminar' object.pk %}
{% endblock modalAction %}
{% block modalBody %}
    {% include "campos/info.html" with value=object.nombre label="Nombres" %}
    {% include "campos/info.html" with value=object.nombrecorto label="Nombre Corto" numcol=6 %}
    {% include "campos/info.html" with value=object.siglas label="Siglas" numcol=6 %}
    {% include "campos/info.html" with value=object.mesadepartes|yesno:"Si,No" label="Mesa de Partes" numcol=6 %}
    {% include "campos/info.html" with value=object.areatipo label="Tipo" numcol=6 %}
    {% include "campos/errorform.html" %}
{% endblock modalBody %}
{% block modalPost %}recargaNodo{% endblock modalPost %}