{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% load static utiles %}
<link href="{% static 'plugins/custom/jstree/jstree.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/custom/prismjs/prismjs.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/style.bundle.css' %}?{% cache_bust %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/themes/layout/header/base/light.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/themes/layout/header/menu/light.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/themes/layout/brand/light.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/themes/layout/aside/light.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/floating-labels.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/modal-right-left.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/custom/contextmenu/jquery.contextMenu.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'js/flipdown/flipdown.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'fonts/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/custom/bootstrap-fileinput/css/fileinput.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'plugins/custom/bootstrap-fileinput/themes/explorer/theme.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'js/printjs/print.min.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/preloader.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/estilos.css' %}?{% cache_bust %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'images/icono_check.png' %}" as="image"/>
