{% extends "modales/formmodal.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block modalTitulo %}
    Anexos: {{ oDoc.obtenerNumeroSiglas }}
{% endblock modalTitulo %}
{% block modalBodyTotal %}
    <div class="col-12">
        {% if visual %}
            {% include "tramite/documento/emitir/tabla.html" with object=oDoc id="vanexos" columnas="Descripción|Archivo|Firmas Requeridas" anchos="30%|30%|40%" campos="descripcion|archivonombre|firmantes" editar=True visual=visual %}
        {% else %}
            {% include "tramite/documento/emitir/tabla.html" with object=oDoc id="vanexos" columnas="Descripción|Archivo|Firmas Requeridas|" anchos="30%|30%|30%|10%" campos="descripcion|archivonombre|firmantes|editar" editar=False %}
        {% endif %}
    </div>
{% endblock %}
{% block modalScriptPost %}
    <script type="text/javascript">
        var kt_tabs_data = {"vanexos": 0};
        dt_vanexos_data["datos"] = {{ anexos|safe }};

        $("#dt_vanexos").on("click", ".btn-anx-fvb", function (e) {
            let codanx = $(this).data("codigo");
            $(this).next().cargarPagina(
                "post",
                "{% url 'apptra:documento_anexo_firmarvb' 0 %}".replace("/0", "/" + codanx)
            );
        });
    </script>
{% endblock %}