{% extends "modales/formmodal.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block modalTitulo %}
    Visando Documentos
{% endblock modalTitulo %}
{% block modalBody %}
    <div class="text-center">
        <h4 class="mt-0">Text in a modal</h4>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
        </p>
    </div>
{% endblock modalBody %}