{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% load utiles queries %}
{% setvar 'puedeabrir' False %}
{% if object.ultimoestado.estado in "PD,EM,OF,AT,RP,RT" or object.tienePdfs %}
    {% if object.confidencial %}
        {% if object.origentipo == "O" %}
            {% if user.persona|periodoactual:"esjefe" or user.persona|periodoactual:"esencargado" or object.emisor == user.persona|periodoactual %}
                {% setvar 'puedeabrir' True %}
            {% endif %}
        {% elif object.origentipo == "P" and object.emisor == user.persona|periodoactual %}
            {% setvar 'puedeabrir' True %}
        {% else %}
            {% setvar 'puedeabrir' True %}
        {% endif %}
    {% else %}
        {% setvar 'puedeabrir' True %}
    {% endif %}
{% endif %}
{% if puedeabrir %}
    <div class="btn-group dropup">
        {% if tab in 'dbEntrada,dbRecepcionados' and object.documento.documentotipoarea.documentotipo.esmultiple or object.documento.documentotipoarea.documentotipo.esmultipledestino %}
            <button onclick='
                    $("#modal-pdf-viewer-full .modal-content").load("{% url 'apptra:documento_descargar_2' 'destino' destino.pk %}");
                    $("#modal-pdf-viewer-full").modal("show");'
                    type="button" class="btn btn-xs btn-primary">
                <i class="far fa-file-pdf p-0"></i>
                <span class="ml-1 d-none d-sm-inline-block">
                  Abrir Documento
                </span>
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split mr-2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    data-reference="parent">
                <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu">
                <a type="button" class="dropdown-item bg-hover-primary text-hover-white"
                   href="{% url 'apptra:documento_descargar_full' object.documento.pk %}" target="_blank">
                    <i class="fas fa-file-download mr-2"></i>
                    Descargar Documento
                </a>
            </div>
        {% else %}
            {% if object.documentotipoarea.documentotipo.esmultiple and not object.documentotipoarea.documentotipo.esmultipledestino and object.forma == "I" and object.origentipo in "O,P" %}
                {% setvar 'varios' 's' %}
            {% endif %}
            <button onclick='viewPDF(
                    "{{ current_site }}{% url "apptra:documento_descargar" object.pk %}",
                    "{{ object.nombreDocumentoPdf }}", "{{ user.auth_token.key }}",
                    "docnew{{ object.pk }}",
                    false,
                    {% if object.documentotipoarea.documentotipo.esmultiple and not object.documentotipoarea.documentotipo.esmultipledestino and object.forma == "I" and object.origentipo in "O,P" %}{{ object.ListaDestinosPdf|default_if_none:"null"|safe }}{% else %}null{% endif %})'
                    type="button" class="btn btn-xs btn-primary">
                <i class="far fa-file-pdf p-0"></i>
                <span class="ml-1 d-none d-sm-inline-block">
                    Abrir Documento{{ varios|default:'' }}
                </span>
            </button>
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split mr-2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    data-reference="parent">
                <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu">
                {% if varios == "s" %}
                    <a type="button" class="dropdown-item bg-hover-primary text-hover-white" target="_blank"
                       href="{% url 'apptra:documento_descargar_dest' object.pk %}">
                        <i class="fas fas fa-download mr-2"></i>
                        Descargar Destinos
                    </a>
                {% endif %}
                <a type="button" class="dropdown-item bg-hover-primary text-hover-white" target="_blank"
                   href="{% url 'apptra:documento_descargar_full' object.pk %}">
                    <i class="fas fa-file-download mr-2"></i>
                    Descargar Documento{{ varios|default:'' }}
                </a>
            </div>
        {% endif %}
    </div>
{% endif %}