{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% load queries utiles %}
{% setvar "firmardoc" False %}
{% if object.ArchivosPorFirmar and not object.ultimoestado.estado in "OF" %}
    {% if object.responsable.persona.usuario == user %}
        {% setvar "firmardoc" True %}
    {% elif object.responsable.area == user.persona|periodoactual:"area" and user.persona|periodoactual:"tipo" in "EN,EP" %}
        {% setvar "firmardoc" True %}
    {% endif %}
{% endif %}
{% if firmardoc %}
    <div class="btn-emi-fir">
        <button type="button"
                class="btn btn-xs btn-light-primary btn-hover-primary text-primary btn-icon-primary .
                {% if not object.DocumentoPorFirmar %}opacity-60{% endif %}">
            <i class="fas fa-pen-nib p-0"></i>
            <span class="ml-1 d-none d-sm-inline-block">Firmar</span>
        </button>
        <div></div>
        <script type="text/javascript">
            $(".btn-emi-fir button").on("click", function () {
                {% if not object.DocumentoPorFirmar %}
                    appAlert(
                        "info", "Atención", "El documento no puede ser firmado por falta de Firmas o VB adicionales."
                    );
                {% else %}
                    $(this).next().cargarPagina(
                        "post",
                        "{% url 'apptra:documento_emitir_firmar' object.pk %}"
                    );
                {% endif %}
            });
        </script>
    </div>
    {% if object.DocumentoPorFirmar and object.origentipo == "O" %}
        {% if object.creador.persona|periodoactual != object.responsable or request.user.persona|periodoactual|querygetvalue:"area" == object.creador.persona|periodoactual|querygetvalue:"area" %}
            <div class="btn-emi-fir-obs ml-2">
                <button type="button" href="{% url 'apptra:documento_emitir_observar' object.pk %}"
                        data-toggle="modal" data-target="#modal-principal-centro"
                        class="btn btn-xs btn-light-danger btn-hover-danger text-danger btn-icon-danger">
                    <i class="fas fa-ban p-0"></i>
                    <span class="ml-1 d-none d-sm-inline-block">
                        Observar
                    </span>
                </button>
                <div></div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}