{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% load queries utiles %}
{% setvar "regproy" False %}
{% if object.ultimoestado.estado in "PD,OF" %}
    {% if object.responsable == user.persona|periodoactual or object.creador == user %}
        {% setvar "regproy" True %}
    {% elif object.responsable.area == user.persona|periodoactual:"area" and user.persona|periodoactual:"tipo" in "EN,EP,AP" %}
        {% setvar "regproy" True %}
    {% elif object.responsable.area == user.persona|periodoactual:"area" and user.persona|periodoactual:"esjefe" and object.origentipo == "O" %}
        {% setvar "regproy" True %}
    {% endif %}
{% endif %}
{% if regproy %}
    <div class="btn-paspro-doc">
        <button type="button"
                class="btn btn-xs btn-light-danger btn-hover-danger text-danger mx-2 btn-icon-danger">
            <i class="fas fa-reply-all p-0"></i>
            <span class="ml-1 d-none d-sm-inline-block">
                Regresar a Proyecto
            </span>
        </button>
        <div></div>
        <script>
            $(".btn-paspro-doc button").on("click", function () {
                let mebtnpaspro = $(this);
                $.cargarPagina(
                    "post",
                    "{% url 'apptra:documento_emitir_despacho' object.pk %}",
                    $("#modal-principal .modal-content"),
                    "Un momento...", {codest: "PY"}, null,
                    function (e) {
                        mebtnpaspro.next().html(e);
                    },
                    true
                );
            });
        </script>
    </div>
{% endif %}