{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% if se_puede_editar %}
    <div class="btn-group dropup btn-guardar">
        <button type="submit" class="btn btn-xs btn-primary btn-save{% if not object.pk %} mr-2{% endif %}" form="{{ formid }}"
                onclick="$('#{{ formid }} input[name=modosave]').val('normal');">
            <i class="fas fa-save p-0"></i>
            <span class="ml-1 d-none d-sm-inline-block">Guardar</span>
        </button>
        {% if object.pk %}
            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split mr-2"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    data-reference="parent">
                <span class="sr-only"></span>
            </button>
            <div class="dropdown-menu">
                <button type="submit" form="{{ formid }}"
                        class="dropdown-item bg-hover-primary text-hover-white" href="javascript:;"
                        onclick="$('#{{ formid }} input[name=modosave]').val('update');"
                        data-toggle="popover"
                        data-content="En caso de que haya cambiado el tipo de Documento">
                    Cambiar Plantilla
                </button>
                <button type="submit" form="{{ formid }}"
                        onclick="$('#{{ formid }} input[name=modosave]').val('clean');"
                        class="dropdown-item bg-hover-primary text-hover-white" href="javascript:;"
                        data-toggle="popover"
                        data-content="En caso de que haya cambiado sólo los datos del documento ó los destinos">
                    Actualizar Plantilla
                </button>
            </div>
            <script>
                $(function () {
                    $('.btn-guardar [data-toggle="popover"]').popover({
                        container: $("#modal-principal .modal-content"),
                        trigger : 'hover'
                    })
                });
            </script>
        {% endif %}
    </div>
{% endif %}