{% extends "modales/formmodal.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block modalTitulo %}
    {% if not object %}
        Agregando
    {% else %}
        Actualizando
    {% endif %}
    Integrante
{% endblock modalTitulo %}
{% block modalAction %}
    {% if not object %}
        {% url 'apporg:integrantedirecta_agregar' view.kwargs.comid %}
    {% else %}
        {% url 'apporg:integrantedirecta_editar' object.pk %}
    {% endif %}
{% endblock modalAction %}
{% block modalBody %}
    {% include "campos/campoform.html" with campo=form.persona %}
    {% include "campos/campoform.html" with campo=form.cargo numcol=6 %}
    {% include "campos/errorform.html" %}
{% endblock modalBody %}
{% block modalPost %}refrescar_tablaIntegranteDirecta{% endblock modalPost %}
