{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% if object.ultimoestado.estado == "PY" %}
    <div class="btn-nul-doc">
        <button type="button"
                class="btn btn-xs btn-light-danger btn-hover-danger text-danger btn-icon-danger mr-2">
            <i class="fas fa-undo-alt p-0"></i>
            <span class="ml-1 d-none d-sm-inline-block">
                Anular Documento
            </span>
        </button>
        <div></div>
        <script>
            $(".btn-nul-doc button").on("click", function () {
                appConfirm(
                    "¿Está seguro?",
                    "¿Desea anular el documento?",
                    "error",
                    function () {
                        $.cargarPagina(
                            "post",
                            "{% url 'apptra:documento_emitir_anular' object.pk %}",
                            $("#modal-principal .modal-content"),
                            "Un momento...", {}, null,
                            function (e) {
                                refrescarTableros("dbEnProyecto,dbDespacho", true);
                                $("#modal-principal").modal("hide");
                                appAlert(
                                    "success", "Correcto!!", "Su documento ha sido anulado correctamente"
                                );
                            }
                        );
                    }
                );
            });
        </script>
    </div>
{% endif %}