{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% if object.documentoplantilla.contenido %}
    <div class="btn-pasdes-doc">
        <button type="button"
                class="btn btn-xs btn-light-success btn-hover-success text-success mr-2">
            <i class="fas fa-clipboard p-0"></i>
            <span class="ml-1 d-none d-sm-inline-block">
                Pasar a Despacho
            </span>
        </button>
        <div></div>
        <script>
            $(".btn-pasdes-doc button").on("click", function () {
                $(this).next().cargarPagina(
                    "post",
                    "{% url 'apptra:documento_emitir_despacho' object.pk %}",
                    $("#modal-principal .modal-content"),
                    "Un momento...", {codest: "PD"}, null,
                    function () {
                        $("#modal-principal .modal-content").load(
                            "{% url 'apptra:documento_emitir_editar' object.pk tab tabid %}"
                        );
                    },
                    true
                );
            });
        </script>
    </div>
{% endif %}