{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
<div class="col-sm-{{ numcol|default:12 }}">
    <div class="form-group h-100">
        <label>{{ label }}</label>
        <div class="bg-light border border-light-dark rounded px-3 py-2 text-{{ posicion|default:"left" }} {{ clase }}">
            <a href="{{ value }}" target="_blank">
                {{ value|default_if_none:'&nbsp;' }}
            </a>
        </div>
    </div>
</div>