{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% if form.non_field_errors or errordelete %}
    <div class="col-12 {{ clase|default:'' }}">
        <div class="alert alert-danger">
            {% if errordelete %}
                {{ errordelete|safe }}
            {% else %}
                {% for error in form.non_field_errors %}
                    {{ error|safe }}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endif %}