{% extends "tramite/base.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% load table_tags %}
{% block TramiteContenido %}
      <div class="col-12 px-0">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                {% render_table TablaPersonalRechazados %}
            </div>
        </div>
      </div>
{% endblock TramiteContenido %}