{% extends "modales/formmodal.html" %}
{% comment %}
	@autor Dirección Regional de Transformación Digital
	@titularidad GOBIERNO REGIONAL CAJAMARCA
	@licencia Python Software Foundation License. Ver LICENCIA.txt
	@año 2022
{% endcomment %}
{% block modalTitulo %}
    Quitando Trabajador que Proyecta
{% endblock modalTitulo %}
{% block modalAction %}
    {% url 'apporg:proyeccionarea_eliminar' object.pk %}
{% endblock modalAction %}
{% block modalBody %}
    {% include "campos/info.html" with value=object.periodotrabajo.persona.apellidocompleto label="Trabajador que proyecta" %}
    {% include "campos/info.html" with value=object.periodotrabajo.area.nombre label="Unidad de Organización desde donde proyecta" %}
    {% include "campos/errorform.html" %}
{% endblock modalBody %}
{% block modalPost %}refrescar_tablaProyeccionArea{% endblock modalPost %}